---
import '../styles/global.css';

import DefaultLayout from '@/layouts/DefaultLayout.astro';
// import {Image} from 'astro:assets';
import {Image} from '@unpic/astro';

import kravmagalogo1 from '../assets/astro.jpg';
// Component Imports
import Button from '../components/Button.astro';

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<DefaultLayout>
    <div class="container mx-auto">
        <div class="grid w-full place-items-center content-center">
            <button
                onclick="document.dispatchEvent(new CustomEvent('set-theme', { detail: 'light' }))">
                Light
            </button>
            <button
                onclick="document.dispatchEvent(new CustomEvent('set-theme', { detail: 'dark' }))">
                Dark
            </button>
            <button
                onclick="document.dispatchEvent(new CustomEvent('set-theme', { detail: null }))">
                Clear theme
            </button>
        </div>

        <div class="grid h-[30vh] place-items-center content-center">
            <Button>Tailwind Button in Astro!</Button>
        </div>
        <div class="grid h-[30vh] grid-flow-col place-items-center content-center">
            <Button class="">
                <a href="/markdown-page" class="p-4 underline"> Markdown is also supported... </a>
            </Button>
            <Button class="">
                <a href="/mdx" class="p-4 underline"> MDX </a>
            </Button>
        </div>
        <div class="grid-cols-auto grid h-32 grid-flow-col gap-8">
            <div class="mx-auto">
                Imported image
                <Image
                    src={kravmagalogo1}
                    {...import.meta.env.PROD ? {} : {}}
                    width={640}
                    breakpoints={[
                        16, 32, 64, 128, 192, 256, 384, 512, 640, 750, 828, 960, 1024, 1080, 1280,
                        1668, 1920, 2048, 2560, 3200, 3840,
                    ]}
                    alt="Image test"
                    layout="constrained"
                />
            </div>
            <div class="mx-auto">
                /public image
                <Image
                    src="/static/images/astro.jpg"
                    width={640}
                    height={300}
                    alt="Image test"
                    layout="constrained"
                />

                <Image
                    src="/static/images/astro.jpg"
                    alt="Image test"
                    width={640}
                    height={300}
                    breakpoints={[
                        16, 32, 64, 128, 192, 256, 384, 512, 640, 750, 828, 960, 1024, 1080, 1280,
                        1668, 1920, 2048, 2560, 3200, 3840,
                    ]}
                />
            </div>
            <div class="mx-auto">
                external image
                <Image
                    src="https://cdn.shopify.com/static/sample-images/bath.jpeg"
                    layout="constrained"
                    width={128}
                    breakpoints={[
                        16, 32, 64, 128, 192, 256, 384, 512, 640, 750, 828, 960, 1024, 1080, 1280,
                        1668, 1920, 2048, 2560, 3200, 3840,
                    ]}
                    alt="A lovely bath"
                />
            </div>
        </div>
    </div>
</DefaultLayout>
