---
import '../styles/global.css';

import DefaultLayout from '@/layouts/DefaultLayout.astro';
import {Image} from 'astro:assets';

import kravmagalogo1 from '../assets/kravmaga.png';
// Component Imports
import Button from '../components/Button.astro';

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<DefaultLayout>
    <div class="container mx-auto">
        <div class="grid w-full place-items-center content-center">
            <button
                onclick="document.dispatchEvent(new CustomEvent('set-theme', { detail: 'light' }))">
                Light
            </button>
            <button
                onclick="document.dispatchEvent(new CustomEvent('set-theme', { detail: 'dark' }))">
                Dark
            </button>
            <button
                onclick="document.dispatchEvent(new CustomEvent('set-theme', { detail: null }))">
                Clear theme
            </button>
        </div>

        <div class="grid h-[30vh] place-items-center content-center">
            <Button>Tailwind Button in Astro!</Button>
        </div>
        <div class="grid h-[30vh] grid-flow-col place-items-center content-center">
            <Button class="">
                <a href="/markdown-page" class="p-4 underline"> Markdown is also supported... </a>
            </Button>
            <Button class="">
                <a href="/mdx" class="p-4 underline"> MDX </a>
            </Button>
        </div>
        <div class="grid-cols-auto grid h-32 grid-flow-col gap-8">
            <div class="mx-auto">
                Imported image
                <Image
                    src={kravmagalogo1}
                    {...import.meta.env.PROD ? {cdn: 'vercel'} : {}}
                    alt="Krav Maga Logo"
                    layout="constrained"
                    width="300"
                    height="300"
                />
            </div>
            <div class="mx-auto">
                /public image
                <Image src="/images/kravmaga.png" alt="Krav Maga Logo" width="300" height="300" />
            </div>
            <div class="mx-auto">
                external image
                <Image
                    src="https://cdn.shopify.com/static/sample-images/bath.jpeg"
                    layout="constrained"
                    width="300"
                    height="300"
                    alt="A lovely bath"
                />
            </div>
        </div>
    </div>
</DefaultLayout>
