---
import '../styles/global.css';

import Themes from 'astro-themes';

import {Navbar5} from '@/components/navbar5';

// Component Imports
import Button from '../components/Button.astro';

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<html lang="en">
    <head>
        <Themes />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro + TailwindCSS</title>
    </head>

    <body>
        <Navbar5 client:load />
        <div class="container mx-auto">
            <div class="grid w-full place-items-center content-center">
                <button
                    onclick="document.dispatchEvent(new CustomEvent('set-theme', { detail: 'light' }))">
                    Light
                </button>
                <button
                    onclick="document.dispatchEvent(new CustomEvent('set-theme', { detail: 'dark' }))">
                    Dark
                </button>
                <button
                    onclick="document.dispatchEvent(new CustomEvent('set-theme', { detail: null }))">
                    Clear theme
                </button>
            </div>

            <div class="grid h-[30vh] place-items-center content-center">
                <Button>Tailwind Button in Astro!</Button>
            </div>
            <div class="grid h-[30vh] grid-flow-col place-items-center content-center">
                <Button class="">
                    <a href="/markdown-page" class="p-4 underline">
                        Markdown is also supported...
                    </a>
                </Button>
                <Button class="">
                    <a href="/mdx" class="p-4 underline"> MDX </a>
                </Button>
            </div>
        </div>
    </body>
</html>
