---
title: 'Markdown + Tailwind';
layout: 'main';
---

import {(Tweet, Vimeo, YouTube)} from 'astro-embed';

<div class="grid h-screen place-items-center content-center">
    <div class="rounded-lg bg-purple-500 px-4 py-2 font-semibold text-white shadow-md">
        Tailwind classes also work in Markdown!
    </div>
    <a
        href="/"
        class="p-4 underline transition-colors duration-200 ease-in-out hover:text-purple-500">
        Go home
    </a>
</div>
<YouTube id="https://youtu.be/xtTy5nKay_Y" />
